In [1]:
#oops
class venky:
    x=5

In [7]:
obj1=venky()
obj1.x

5

In [15]:
class dog:
    def __init__(self,name,age):
      self.name=name
      self.age=age
    def sound(self):
      print('boow boow')

In [19]:
dog1=dog("rocky",5)
dog2=dog("bunty",3)
dog3=dog("chinnu",2)

In [23]:
print(f'name is {dog1.name} and age is {dog1.age}')
print(f'name is {dog2.name} and age is {dog2.age}')
print(f'name is {dog3.name} and age is {dog3.age}')

name is rocky and age is 5
name is bunty and age is 3
name is chinnu and age is 2

In [29]:
dog1.sound()

boow boow

In [48]:
class company:
    def __init__ (self,name,domain):
        self.name=name
        self.domain=domain
    def user(self):
        print('good')

In [50]:
worker1=company('raju','software enng')
worker2=company('venky','data analyst')
worker3=company('rohith','full stack')

In [52]:
print(f'name is {worker1.name} and worked in {worker1.domain}')
print(f'name is {worker2.name} and worked in {worker2.domain}')
print(f'name is {worker3.name} and worked in {worker3.domain}')

name is raju and worked in software enng
name is venky and worked in data analyst
name is rohith and worked in full stack

In [56]:
worker1.user()
worker2.user()
worker3.user()

good
good
good

In [70]:
#str method
class institute:
    def __init__ (self,name,branch,rollno):
        self.name=name
        self.branch=branch
        self.rollno=rollno
    def student(self):
        print('not presented')
    def __str__ (self):
        return f'name is {self.name} and branch {self.branch} roll number {self.rollno}'

In [72]:
student1=institute('raj','science',1)
student2=institute('kalyan','arts',2)
student3=institute('rohith','science',3)
student4=institute('venky','arts',4)
student5=institute('rajesh','science',5)
student6=institute('sagar','arts',6)
student7=institute('subbu','science',7)

In [82]:
student1.student()
print(student1)
print(student2)
print(student3)
print(student4)
print(student5)
print(student6)
print(student7)

not presented
name is raj and branch science roll number 1
name is kalyan and branch arts roll number 2
name is rohith and branch science roll number 3
name is venky and branch arts roll number 4
name is rajesh and branch science roll number 5
name is sagar and branch arts roll number 6
name is subbu and branch science roll number 7

In [84]:
class cars:
    def __init__ (self,name,model,registration):
        self.name=name
        self.model=model
        self.registration=registration
    def inf(self):
        print('saled')
    def __str__ (self):
        return f'car name is {self.name} and model is {self.model} and registered in {self.registration}'

In [92]:
car1=cars('honda','city','ap')
car2=cars('volse vagon','polo','tg')
car3=cars('maruti suzuki','swift','ap')
car4=cars('mahindra','xuv700','tg')
car5=cars('toyota','creta','ap')
car6=cars('skod','300','tg')

In [98]:
print(car1)
print(car2)
print(car3)
print(car4)
print(car5)
print(car6)
car1.inf()

car name is honda and model is city and registered in ap
car name is volse vagon and model is polo and registered in tg
car name is maruti suzuki and model is swift and registered in ap
car name is mahindra and model is xuv700 and registered in tg
car name is toyota and model is creta and registered in ap
car name is skod and model is 300 and registered in tg
saled