In [1]:
#python  program to find smallest number among three
a=33
b=55
c=54
if a<b and a<c:
    print('a is small')
elif b<a and b<c:
    print('b is small')
else:    
    print('c is small')

a is small

In [23]:
#write a python program to find  the minimum in a list
a=[33,44,55,22,66,11]
print(min(a))

11

In [25]:
#write a python program to find  the minimum in a list
a=[33,44,55,22,66,11]
print(max(a))

66

In [31]:
#python program to square of a given number
a=10
z=a**2
print(z)

100

In [47]:
#python program to copy one string to another string
a= "apple"
b = a
print(b)

apple

In [330]:
#write a python program to check if a string is a palindrome
c='dad'
a=c[::-1]
if a == c:
    print('yes')
else:
    print('no')

yes

In [94]:
#write a python program to revesre of a string
a='apple'
a[::-1]

'elppa'

In [161]:
#Write a Python program to find the largest element in a list. 
a=[1,2,3,45,6]
v=max(a)
v

45

In [270]:
#Write a Python program to find the common elements between two lists. 
a=[2,3,4,5,6,7,8,9,11]
b=[2,3,4,6,7,5,8]
c=set(a)
d=set(b)
e=c&d
e
list(e)

[2, 3, 4, 5, 6, 7, 8]

In [294]:
# Write a Python program to remove duplicates from a list. 
a=[1,2,3,4,5,7,2,1,2]
c=set(a)
c
d=list(c)
d

[1, 2, 3, 4, 5, 7]

In [314]:
#Write a python Program to Count the Number of Occurrences of a Character in a String. 
a='my name is venky'
char='n'
d=a.count(char)
d

2

In [45]:
#Write a program in Python to swap two numbers without using third variable?
a=5
b=6
a,b=b,a
print(a)
print(b)

6
5