#### what is string

In Python, a string is a sequence of characters.
Enclosed in single quotes ('), double quotes ("), or triple quotes (''' or """) for multi-line strings.
Strings are used to represent textual data and are a fundamental data type in Python. 
 
 EXAMPLES:
- a="venky"
- b="apple"
- c="my name is ram"
- ram="ONE two three"
- acv="APPLE BOLL CAT DOG"
- h='data analytics'
- d='hy friends'
- k='it is a pen'
- rav='its beautiful'
- ex="I AM FROM ap"

#### string format methods
#### 1).format method()

In [20]:
name="venky"
age=21
print('my name is {} and i am {} old'.format(name,age))

my name is venky and i am 21 old

In [22]:
name="ravi"
location="hyd"
print('my name is {} and i am from {}'.format(name,location))

my name is ravi and i am from hyd

In [26]:
name="pen"
use="write"
print('this is {} and its used to {} anything'.format(name,use))

this is pen and its used to write anything

In [30]:
a="teks academy"
b="data analytics"
print('ravi joined {} to take {} coaching'.format(a,b))

ravi joined teks academy to take data analytics coaching

In [34]:
c="maths"
d=100
print('venky completed {} exam and scored {} marks'.format(c,d))

venky completed maths exam and scored 100 marks

#### f-string method

In [37]:
a="ravi"
b=23
print(f'my name is {a} and i am {b} old')

my name is ravi and i am 23 old

In [39]:
c="ramachandra"
d="jangareddygudem"
print(f'i am studying {c} degree college at {d}')

i am studying ramachandra degree college at jangareddygudem

In [41]:
e="vamsi"
f="data analytics"
print(f'{e} sir is {f} trainer')

vamsi sir is data analytics trainer

In [43]:
g="degree"
h=99
print(f'complete my {g} with {h} percentage')

complete my degree with 99 percentage

In [45]:
i="examples"
j="f-string"
print(f'these are {i} of {j} method')

these are examples of f-string method

#### index
#### positive and negative

In [50]:
name="data analytics"
name[4]

' '

In [52]:
name[-4]

't'

In [54]:
a="my name is venky"
a[6]

'e'

In [56]:
a[-7]

's'

In [58]:
h="i am from hyd"
h[7]

'o'

In [62]:
h[-9]

' '

In [64]:
u="apple"
u[2]

'p'

In [66]:
u[-4]

'p'

In [68]:
k="my age is 20"
k[7]

'i'

In [70]:
k[-2]

'2'

#### slicing

In [73]:
a="my name is venky"
a[4:6]

'am'

In [75]:
a[-5:-1]

'venk'

In [77]:
b="APPLEBOLLCATDOG"
b[6:9]

'OLL'

In [79]:
b[-9:-1]

'OLLCATDO'

In [81]:
c=" my age is 20       "
c[2:9]

'y age i'

In [89]:
c[-16:-1]

'age is 20      '

In [105]:
d="i am FROM RJY "
d[5:14]

'FROM RJY '

In [107]:
d[-12:-1]

'am FROM RJY'

In [115]:
rajesh="my salary is 70000 per month "
rajesh[2:16]

' salary is 700'

In [117]:
rajesh[-20:-1]

' is 70000 per month'

#### All string methods with one example

1. str.lower()

Converts all characters in the string to lowercase.

In [124]:
text = "HELLO WORLD"
print(text.lower())

hello world

2. str.upper()

Converts all characters in the string to uppercase.

In [135]:
text = "hello world"
print(text.upper())

HELLO WORLD

3. str.capitalize()

Capitalizes the first letter of the string and lowercases the rest.

In [138]:
text = "hello world"
print(text.capitalize())

Hello world

4. str.title()

Capitalizes the first letter of each word in the string.

In [141]:
text = "hello world"
print(text.title())

Hello World

5. str.strip()

Removes leading and trailing whitespace from the string.

In [144]:
text = "  hello world  "
print(text.strip())

hello world

6. str.lstrip()

Removes leading (left) whitespace from the string.

In [147]:
text = "  hello world"
print(text.lstrip())

hello world

7. str.rstrip()

Removes trailing (right) whitespace from the string.

In [151]:
text = "hello world  "
print(text.rstrip())

hello world

8. str.replace(old, new)

Replaces occurrences of a substring with another substring.

In [154]:
text = "Hello World"
print(text.replace("World", "Python"))

Hello Python

9. str.split()

Splits the string into a list of substrings based on a delimiter (space by default).

In [157]:
text = "hello world"
print(text.split())

['hello', 'world']

10. str.join(iterable)

Joins a list of strings into one string with a specified separator.

In [160]:
words = ['hello', 'world']
print(' '.join(words))

hello world

11. str.find(sub)

Returns the index of the first occurrence of a substring. Returns -1 if not found.

In [163]:
text = "Hello World"
print(text.find("World"))

6

12. str.rfind(sub)

Returns the index of the last occurrence of a substring. Returns -1 if not found.

In [166]:
text = "Hello World"
print(text.rfind("o"))

7

13. str.index(sub)
    
Similar to find(), but raises a ValueError if the substring is not found.

In [169]:
text = "Hello World"
print(text.index("World"))

6

14. str.rindex(sub)

Similar to rfind(), but raises a ValueError if the substring is not found.

In [172]:
text = "Hello World"
print(text.rindex("o"))

7

15. str.count(sub)

Returns the number of occurrences of a substring.

In [175]:
text = "Hello World"
print(text.count("o"))

2

16. str.startswith(prefix)

Checks if the string starts with a given prefix.

In [178]:
text = "Hello World"
print(text.startswith("Hello"))

True

17. str.endswith(suffix)

Checks if the string ends with a given suffix.

In [181]:
text = "Hello World"
print(text.endswith("World"))

True

18. str.isdigit()

Returns True if all characters in the string are digits.

In [184]:
text = "12345"
print(text.isdigit())

True

19. str.isalpha()

Returns True if all characters in the string are alphabetic.

In [187]:
text = "Hello"
print(text.isalpha())

True

20. str.isalnum()

Returns True if all characters in the string are alphanumeric (letters and digits).

In [190]:
text = "Hello123"
print(text.isalnum())

True

21. str.islower()

Returns True if all characters in the string are lowercase.

In [193]:
text = "hello"
print(text.islower())

True

22. str.isupper()

Returns True if all characters in the string are uppercase.

In [196]:
text = "HELLO"
print(text.isupper())

True

23. str.swapcase()

Swaps case of all characters in the string.

In [199]:
text = "Hello World"
print(text.swapcase())

hELLO wORLD

24. str.isspace()

Returns True if all characters in the string are whitespace.

In [202]:
text = "    "
print(text.isspace())

True

25. str.zfill(width)

Pads the string on the left with zeros until it reaches the specified width.

In [205]:
text = "42"
print(text.zfill(5))

00042

26. str.expandtabs(tabsize)

Expands all tab characters (\t) in the string to spaces, with the specified tab size.

In [208]:
text = "Hello\tWorld"
print(text.expandtabs(4))

Hello   World

27. str.format(*args, **kwargs)

Formats the string using placeholders.

In [211]:
text = "Hello {}"
print(text.format("World"))

Hello World

28. str.isnumeric()

Returns True if all characters in the string are numeric characters.

In [216]:
text = "12345"
print(text.isnumeric())

True

29. str.rsplit()

Splits the string from the right side.

In [223]:
text = "apple,banana,cherry"
print(text.rsplit(",", 1))

['apple,banana', 'cherry']

30. str.partition(sep)

Splits the string into three parts: the part before the separator, the separator, and the part after.

In [226]:
text = "apple-banana-cherry"
print(text.partition("-"))

('apple', '-', 'banana-cherry')

31. str.removeprefix(prefix) 

Removes the specified prefix from the string, if it starts with that prefix.

In [231]:
text = "TestHook"
print(text.removeprefix("Test"))

Hook

32. str.removesuffix(suffix) 

Removes the specified suffix from the string, if it ends with that suffix.

In [234]:
text = "MiscTests"
print(text.removesuffix("Tests"))

Misc